:root {
	--red: #f25757;
	--blue: #36b4eb;
	--green: #6bc93c;
	--purple: #c24fa7;
	--yellow: #edd30c;
	--gray: #798897;
	--dark-gray: #2f4858;

	--text-color: rgba(31, 41, 55, 1);
	--bg-color: #f3f3f3;
	--bg-color-2: #fff;
	--accent-bg-text-color: #fff;

	--content-width: 1000px;
}

.blue {
	--accent-color: var(--blue);
	--accent-bg-color: var(--accent-color);
}

.red {
	--accent-color: var(--red);
	--accent-bg-color: var(--accent-color);
}
.green {
	--accent-color: var(--green);
	--accent-bg-color: var(--accent-color);
}
.purple {
	--accent-color: var(--purple);
	--accent-bg-color: var(--accent-color);
}
.yellow {
	--accent-color: var(--yellow);
	--accent-bg-color: var(--accent-color);
}
.gray {
	--accent-color: var(--gray);
	--accent-bg-color: var(--accent-color);
}
.dark-gray {
	--accent-color: var(--dark-gray);
	--accent-bg-color: var(--accent-color);
}

html {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: var(--text-color);
}

body {
	background-color: var(--bg-color);
}

* {
	transition-timing-function: ease-in-out;
}

.heading {
	letter-spacing: -0.625px;
}

/*  RESET START */

body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/* RESET END */
