@import "./colors.css";
@import "./themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.prose),
html:not(.prose) {
  @apply text-base text-text-DEFUALT grid grid-rows-[auto,1fr];
  min-height: 100vh;
  min-height: 100dvh;
}

h1:not(.prose) {
  @apply font-bold text-xl text-text-strong;
}

h2:not(.prose) {
  @apply font-medium text-lg text-text-strong;
}

h3:not(.prose) {
  @apply font-medium text-base text-text-strong;
}

p:not(.prose) {
  @apply font-light text-base;
}
